<section class="container mt-5">
  <div *ngIf="restaurants" class="row">
    <div *ngFor="let restaurant of restaurants" class="col-md-4">
        <div class="card mb-4">
          <img [src]=restaurant.backgroundImageURL class="card-img-top" alt="Image">
          <div class="card-body">
            <h5 class="card-title">{{restaurant.name}}</h5>
            <p class="card-text">Dallas Restaurant</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</section>
